.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: lightgrey;
  padding: 1em;
}

.zac {
  position: relative;
  background-color: lightgrey;
  padding: 1em;
}

.sidebarleft {
  position: absolute;
  top: 215px;
  left: 0;
  bottom: 0;
  background-color: powderblue;
  padding: 1em;
}

.sidebarright {
  position: absolute;
  top: 215px;
  right: 0;
  bottom: 0;
  background-color: powderblue;
  padding: 1em;
}
